# ============================================================
# .NET
# ============================================================

**/bin/
**/obj/

# ============================================================
# Visual Studio
# ============================================================

.vs/
.vscode/
*.user
*.suo
*.userosscache

# ============================================================
# IDE
# ============================================================

.idea/

# ============================================================
# Git
# ============================================================

.git/
.github/

# ============================================================
# Node
# ============================================================

node_modules/

# ============================================================
# Tests
# ============================================================

TestResults/

# ============================================================
# Variables de entorno
# ============================================================

.env
.env.*
!.env.example

# ============================================================
# Docker
# ============================================================

Dockerfile*
docker-compose*.yml